.cell {
  border: solid 20px white;
  box-shadow: 0 0 2px gray;
  width: 25px;
  height: 25px;
}
.cell-X {
  background-color: gray;
  border-color: gray;
}
.cell-N,
.cell-E,
.cell-S,
.cell-W {
  background-color: black;
  cursor: pointer;
}
.cell-N {
  border-top-color: gold;
}
.cell-E {
  border-right-color: gold;
}
.cell-S {
  border-bottom-color: gold;
}
.cell-W {
  border-left-color: gold;
}
